## Activity-3: Data analysis on SQLite

#### Name/Surname: Onur Kaplan
#### Dataset Name: NBA Players Stats - 2014-2015
#### Dataset url: https://www.kaggle.com/drgilermo/nba-players-stats-20142015

In [3]:
import sqlite3 as sql
import pandas as pd
conn= sql.connect("ka3database.db")
df= pd.read_csv (r'players_stats.csv')
df.to_sql("Tablo",conn,if_exists='replace')
cur= conn.cursor()

#### Problem 1: The length of time players play according to their age

In [4]:
cur.execute("SELECT Age,AVG(Min) From Tablo Group By Age")
rows= cur.fetchall()
for row in rows:
    print(row)

(None, 1016.5294117647059)
(20.0, 959.6)
(21.0, 1140.2727272727273)
(22.0, 1305.8)
(23.0, 1134.0285714285715)
(24.0, 821.76)
(25.0, 1200.547619047619)
(26.0, 1305.0285714285715)
(27.0, 1315.6153846153845)
(28.0, 1424.2)
(29.0, 1567.3870967741937)
(30.0, 1690.142857142857)
(31.0, 1312.5)
(32.0, 940.1875)
(33.0, 1409.0714285714287)
(34.0, 1137.2857142857142)
(35.0, 1360.4705882352941)
(36.0, 545.75)
(37.0, 1430.5)
(38.0, 1003.5)
(39.0, 1477.3333333333333)

#### Problem 2: Ranking of the score per minute by point guard (PG) role

In [104]:
cur.execute("SELECT Team,AVG(Pts) From Tablo WHERE Pos = 'PG' Group By Team")
rows= cur.fetchall()
for row in rows:
    print(row)

('ATL', 743.0)
('BOS', 600.3333333333334)
('CHA', 640.0)
('CHI', 929.0)
('CLE', 821.5)
('DAL', 496.8)
('DEN', 644.5)
('DET', 291.6666666666667)
('GSW', 1180.5)
('HOU', 568.0)
('IND', 637.25)
('LAC', 865.5)
('LAL', 452.0)
('MEM', 379.0)
('MIA', 813.0)
('MIL', 256.3333333333333)
('MIN', 450.0)
('NJN', 520.0)
('NOH', 337.25)
('NYK', 414.75)
('OKC', 947.0)
('ORL', 459.5)
('PHI', 481.3333333333333)
('PHO', 328.0)
('POR', 709.0)
('SAC', 412.0)
('SAS', 620.6666666666666)
('TOR', 1009.5)
('UTA', 482.0)
('WAS', 378.5)

#### Problem 3: The names of the top 30 players who score the most 3-point made and the number of 3-point made their score

In [105]:
cur.execute("SELECT Name,\"3PM\" FROM Tablo Order By \"3PM\" Desc Limit 30")
rows= cur.fetchall()
for row in rows:
    print(row)

('Stephen Curry', 286)
('Klay Thompson', 239)
('Kyle Korver', 221)
('James Harden', 208)
('JJ Redick', 200)
('Damian Lillard', 196)
('Trevor Ariza', 194)
('Danny Green', 191)
('Wesley Matthews', 173)
('Robert Covington', 167)
('JR Smith', 163)
('Kyrie Irving', 157)
('CJ Miles', 154)
('Kentavious Caldwell-Pope', 153)
('Lou Williams', 152)
('Terrence Ross', 145)
('Kevin Love', 144)
('Anthony Morrow', 141)
('Eric Gordon', 141)
('Ben McLemore', 140)
('Chris Paul', 139)
('Wilson Chandler', 139)
('Gerald Green', 137)
('Channing Frye', 136)
('Matt Barnes', 136)
('Greivis Vasquez', 133)
('Chandler Parsons', 132)
('Kyle Lowry', 132)
('Isaiah Thomas', 129)
('Jason Terry', 126)

#### Problem 4: Top 30 ranking of the cities where players were born according to the number of matches

In [106]:
cur.execute("SELECT Birth_Place,SUM(\"Games Played\") FROM Tablo Group By Birth_Place")
rows= cur.fetchall()
for row in rows:
    print(row)

(None, 3295)
('ar', 218)
('au', 439)
('ba', 94)
('be', 77)
('br', 199)
('ca', 427)
('cd', 64)
('cg', 64)
('ch', 213)
('cm', 67)
('de', 225)
('do', 90)
('es', 211)
('fr', 445)
('gb', 104)
('ge', 73)
('gf', 79)
('gr', 124)
('hr', 68)
('ht', 32)
('il', 71)
('it', 227)
('jm', 44)
('lt', 151)
('me', 82)
('mk', 63)
('mx', 20)
('ng', 82)
('nz', 140)
('pl', 82)
('pr', 77)
('ru', 163)
('se', 104)
('si', 94)
('sn', 73)
('ss', 72)
('tr', 175)
('ua', 69)
('us', 17421)
('ve', 82)
('vi', 77)

#### Problem 5: The first 30 players to score successful 3-point made

In [107]:
cur.execute("SELECT Name,\"3PM\",\"3PA\",(CAST(\"3PM\" AS FLOAT) / \"3PA\" *100) AS ucluk FROM Tablo Order By ucluk Desc Limit 30")
rows= cur.fetchall()
for row in rows:
    print(row)

('Cody Zeller', 1, 1, 100.0)
('Bruno Caboclo', 2, 3, 66.66666666666666)
('Dwight Buycks', 7, 11, 63.63636363636363)
('Victor Claver', 6, 11, 54.54545454545454)
('Luke Babbitt', 59, 115, 51.30434782608696)
('David Stockton', 1, 2, 50.0)
('Dwight Howard', 1, 2, 50.0)
('Earl Barron', 2, 4, 50.0)
('Jamaal Franklin', 1, 2, 50.0)
('Jerel McNeal', 1, 2, 50.0)
('Landry Fields', 1, 2, 50.0)
('Lester Hudson', 3, 6, 50.0)
('Kyle Korver', 221, 449, 49.220489977728285)
('Jordan Hamilton', 10, 21, 47.61904761904761)
('Tayshaun Prince', 31, 67, 46.26865671641791)
('Pau Gasol', 12, 26, 46.15384615384615)
('Gigi Datome', 18, 40, 45.0)
('Eric Gordon', 141, 315, 44.761904761904766)
('Elliot Williams', 8, 18, 44.44444444444444)
('Stephen Curry', 286, 646, 44.27244582043344)
('Klay Thompson', 239, 545, 43.853211009174316)
('JJ Redick', 200, 458, 43.66812227074236)
('Anthony Morrow', 141, 325, 43.38461538461538)
('Hedo Turkoglu', 60, 139, 43.16546762589928)
('Shannon Brown', 3, 7, 42.857142857142854)
('Tony Parker', 38, 89, 42.69662921348314)
('Richard Jefferson', 66, 155, 42.58064516129032)
('Josh McRoberts', 8, 19, 42.10526315789473)
('Meyers Leonard', 47, 112, 41.964285714285715)
('Danny Green', 191, 457, 41.79431072210066)

#### Problem 6: Ranking of the total steals of universities

In [108]:
cur.execute("SELECT Collage,SUM(STL) FROM Tablo Group By Collage Order By SUM(STL) Desc Limit 30")
rows= cur.fetchall()
for row in rows:
    print(row)

(None, 5181)
('University of Kentucky', 800)
('University of California, Los Angeles', 660)
('Duke University', 647)
('University of Kansas', 623)
('University of North Carolina', 576)
('University of Florida', 534)
('Wake Forest University', 468)
('University of Arizona', 401)
('Michigan State University', 324)
('University of Connecticut', 322)
('Georgia Institute of Technology', 312)
('Marquette University', 272)
('Syracuse University', 269)
('Oklahoma State University', 267)
('University of Texas at Austin', 251)
('University of Southern California', 236)
('University of Memphis', 229)
('Texas A&M University', 226)
('University of Washington', 193)
('Georgetown University', 193)
('Villanova University', 189)
('University of Michigan', 189)
('University of Missouri', 187)
('Indiana University', 174)
('Davidson College', 163)
('Ohio State University', 162)
('Arizona State University', 162)
('Louisiana State University', 156)
('San Diego State University', 148)

#### Problem 7: The total points, assists, steals made by the top 2 players who played the most basketball games

In [109]:
cur.execute("SELECT Name,\"Games Played\",Pts,Ast,Stl FROM Tablo Order By \"Games Played\" Desc Limit 2")
rows= cur.fetchall()
for row in rows:
    print(row)

('Josh Smith', 83, 1027, 277, 87)
('Aaron Brooks', 82, 954, 261, 54)

#### Problem 8: Ranking of the total number of players by the universities they play

In [110]:
cur.execute("SELECT Collage,Count(Name) FROM Tablo Group By Collage Order By Count(Name) Desc")
rows= cur.fetchall()
for row in rows:
    print(row)

(None, 140)
('Duke University', 18)
('University of North Carolina', 15)
('University of Kentucky', 15)
('University of California, Los Angeles', 15)
('University of Kansas', 13)
('University of Florida', 11)
('University of Arizona', 10)
('University of Connecticut', 8)
('Michigan State University', 8)
('Marquette University', 7)
('Georgia Institute of Technology', 7)
('University of Texas at Austin', 6)
('University of Michigan', 6)
('University of Memphis', 6)
('Syracuse University', 6)
('Wake Forest University', 5)
('University of Washington', 5)
('University of Southern California', 5)
('University of New Mexico', 5)
('Louisiana State University', 5)
('University of Nevada, Las Vegas', 4)
('University of Missouri', 4)
('University of Louisville', 4)
('University of Colorado', 4)
('University of Cincinnati', 4)
('University of California', 4)
('Stanford University', 4)
('Oklahoma State University', 4)
('Georgetown University', 4)
('Baylor University', 4)
('Wichita State University', 3)
('Villanova University', 3)
('Vanderbilt University', 3)
('University of Wisconsin', 3)
('University of Nevada, Reno', 3)
('University of Maryland', 3)
('University of Arkansas', 3)
('University of Alabama', 3)
('Texas A&M University', 3)
('Purdue University', 3)
('Ohio State University', 3)
('Indiana University', 3)
('Gonzaga University', 3)
('California State University, Fresno', 3)
('Western Kentucky University', 2)
('Washington State University', 2)
('University of Virginia', 2)
('University of Utah', 2)
('University of Tennessee', 2)
('University of Pittsburgh', 2)
('University of Oregon', 2)
('University of Miami', 2)
('University of Iowa', 2)
('University of Detroit Mercy', 2)
('University of Dayton', 2)
('Towson University', 2)
('San Diego State University', 2)
("Saint Mary's College of California", 2)
("Saint Joseph's University", 2)
('North Carolina State University', 2)
('Kansas State University', 2)
('Florida State University', 2)
('Creighton University', 2)
('Clemson University', 2)
('Butler University', 2)
('Brigham Young University', 2)
('Boston College', 2)
('Arizona State University', 2)
('Xavier University', 1)
('Western Michigan University', 1)
('Western Carolina University', 1)
('Weber State University', 1)
('Virginia Polytechnic Institute and State University', 1)
('Virginia Commonwealth University', 1)
('Utah Valley State College', 1)
('University of Tulsa', 1)
('University of Tennessee at Martin', 1)
('University of Oklahoma', 1)
('University of Notre Dame', 1)
('University of Montana', 1)
('University of Minnesota', 1)
('University of Louisiana at Lafayette', 1)
('University of Illinois at Urbana-Champaign', 1)
('University of Georgia', 1)
('Tennessee State University', 1)
('Temple University', 1)
("St. John's University", 1)
('St. Bonaventure University', 1)
('Seton Hall University', 1)
('Providence College', 1)
('Pennsylvania State University', 1)
('Oregon State University', 1)
('Old Dominion University', 1)
('Northeastern University', 1)
('Norfolk State University', 1)
('New Mexico State University', 1)
('Murray State University', 1)
('Morehead State University', 1)
('Louisiana Tech University', 1)
('Lehigh University', 1)
('La Salle University', 1)
('Indiana University-Purdue University Indianapolis', 1)
('Harvard University', 1)
('Eastern Washington University', 1)
('DePaul University', 1)
('Davidson College', 1)
('Cleveland State University', 1)
('Central Michigan University', 1)
('California State University, Long Beach', 1)
('Bucknell University', 1)
('Blinn College', 1)
('Belmont University', 1)

#### Problem 9: Basketball roles with the most points / minute ratio

In [111]:
cur.execute("SELECT Pos,SUM(Pts),SUM(Min),(cast(SUM(Pts) as float) / SUM(Min)) FROM Tablo Group By Pos")
rows= cur.fetchall()
for row in rows:
    print(row)

(None, 28327, 69124, 0.409799780105318)
('C', 36301, 90914, 0.399289438370328)
('PF', 43364, 104683, 0.4142410897662467)
('PG', 46767, 110271, 0.42410969339173493)
('SF', 37746, 96894, 0.38955972506037523)
('SG', 53528, 123324, 0.4340436573578541)

#### Problem 10: The longest, shortest and average height of basketball players

In [112]:
cur.execute("SELECT MAX(Height),MIN(Height),AVG(Height) FROM Tablo")
rows= cur.fetchall()
for row in rows:
    print(row)

(222.5, 172.5, 197.44075829383885)

#### Problem 11: Basketball players with a weight between 80 and 100

In [115]:
cur.execute("SELECT Name,Weight FROM Tablo WHERE Weight BETWEEN 80 and 100 Order By Weight Desc")
rows= cur.fetchall()
for row in rows:
    print(row)

('Danny Granger', 99.9)
('Donatas Motiejunas', 99.9)
('Giannis Antetokounmpo', 99.9)
('DeMar DeRozan', 99.45)
('Nazr Mohammed', 99.45)
('Aaron Gordon', 99.0)
('Alan Anderson', 99.0)
('Al-Farouq Aminu', 99.0)
('Andrei Kirilenko', 99.0)
('Austin Daye', 99.0)
('Brandon Rush', 99.0)
('Cartier Martin', 99.0)
('Iman Shumpert', 99.0)
('James Harden', 99.0)
('Jason Richardson', 99.0)
('Jimmy Butler', 99.0)
('Joffrey Lauvergne', 99.0)
('Jordan Hamilton', 99.0)
('Lou Amundson', 99.0)
('Luol Deng', 99.0)
('Marcus Smart', 99.0)
('Nikola Mirotic', 99.0)
('Paul George', 99.0)
('Quincy Pondexter', 99.0)
('Shawn Marion', 99.0)
('Thabo Sefolosha', 99.0)
('Tyreke Evans', 99.0)
('Vince Carter', 99.0)
('Wesley Matthews', 99.0)
('Xavier Henry', 99.0)
('Joe Harris', 98.55)
('Bruno Caboclo', 98.1)
('Cory Jefferson', 98.1)
('James Jones', 98.1)
('Mike Miller', 98.1)
('Greivis Vasquez', 97.65)
('Bojan Bogdanovic', 97.2)
('Andre Dawkins', 96.75)
('Andre Iguodala', 96.75)
('Danny Green', 96.75)
('DeMarre Carroll', 96.75)
('Eric Gordon', 96.75)
('Gerald Henderson', 96.75)
('Jabari Brown', 96.75)
('John Jenkins', 96.75)
('Klay Thompson', 96.75)
('Maurice Harkless', 96.75)
('Rasual Butler', 96.75)
('Robbie Hummel', 96.75)
('Robert Covington', 96.75)
('Trevor Ariza', 96.75)
('Wesley Johnson', 96.75)
('Alec Burks', 96.3)
('Nick Calathes', 95.85)
('Randy Foye', 95.85)
('Tony Allen', 95.85)
('Kobe Bryant', 95.4)
('Kyle Korver', 95.4)
('Tayshaun Prince', 95.4)
('Allen Crabbe', 94.5)
('Andre Roberson', 94.5)
('Anthony Morrow', 94.5)
('Arron Afflalo', 94.5)
('Cleanthony Early', 94.5)
('Gary Harris', 94.5)
('Gary Neal', 94.5)
('Harrison Barnes', 94.5)
('James Ennis III', 94.5)
('Jerami Grant', 94.5)
('Jodie Meeks', 94.5)
('Landry Fields', 94.5)
('Marco Belinelli', 94.5)
('O.J. Mayo', 94.5)
('Quincy Miller', 94.5)
('Rodney Stuckey', 94.5)
('Sean Kilpatrick', 94.5)
('Victor Oladipo', 94.5)
('Chase Budinger', 94.05)
('Jordan Adams', 94.05)
('Patrick Christopher', 94.05)
('Reggie Jackson', 93.6)
('Sergey Karasev', 93.6)
('Bradley Beal', 93.15)
('Chris Johnson', 92.7)
('Glen Rice', 92.7)
('Rodney Hood', 92.7)
('Terrence Ross', 92.7)
('Donald Sloan', 92.25)
('Evan Fournier', 92.25)
('Gerald Green', 92.25)
('Jrue Holiday', 92.25)
('Kentavious Caldwell-Pope', 92.25)
('KJ McDaniels', 92.25)
('Manu Ginobili', 92.25)
('Nik Stauskas', 92.25)
('Raymond Felton', 92.25)
('Reggie Bullock', 92.25)
('Shannon Brown', 92.25)
('Tim Hardaway Jr.', 92.25)
('Troy Daniels', 92.25)
('Shelvin Mack', 91.35)
('Nick Johnson', 90.9)
('Isaiah Canaan', 90.45)
('Kent Bazemore', 90.45)
('Andre Miller', 90.0)
('Archie Goodwin', 90.0)
('Austin Rivers', 90.0)
('Ben Gordon', 90.0)
('Chris Douglas-Roberts', 90.0)
('CJ McCollum', 90.0)
('Courtney Lee', 90.0)
('Devyn Marble', 90.0)
('Jamal Crawford', 90.0)
('Jarrett Jack', 90.0)
('Jerel McNeal', 90.0)
('Jeremy Evans', 90.0)
('Jeremy Lin', 90.0)
('Jerryd Bayless', 90.0)
('Jose Calderon', 90.0)
('Kendall Marshall', 90.0)
('Langston Galloway', 90.0)
('Malcolm Thomas', 90.0)
('Nicolas Batum', 90.0)
('Spencer Dinwiddie', 90.0)
('Tony Snell', 90.0)
('Vander Blue', 90.0)
('Wayne Ellington', 90.0)
('Willie Green', 90.0)
('Zoran Dragic', 90.0)
('Kevin Martin', 89.55)
('Matthew Dellavedova', 89.1)
('Mo Williams', 89.1)
('Otto Porter Jr.', 89.1)
('Kyle Lowry', 88.2)
('Ben McLemore', 87.75)
('Damian Lillard', 87.75)
('Francisco Garcia', 87.75)
('Garrett Temple', 87.75)
('Jared Cunningham', 87.75)
('Jimmer Fredette', 87.75)
('Kalin Lucas', 87.75)
('Ricky Rubio', 87.75)
('Toney Douglas', 87.75)
("Toure' Murry", 87.75)
('Ty Lawson', 87.75)
('Jordan Clarkson', 87.3)
('Leandro Barbosa', 87.3)
('Tyler Ennis', 87.3)
('Cory Joseph', 86.85)
('Kyrie Irving', 86.85)
('Devin Harris', 86.4)
('Shaun Livingston', 86.4)
("E'Twaun Moore", 85.95)
('Gal Mekel', 85.95)
('Jamaal Franklin', 85.95)
('Jorge Gutierrez', 85.95)
('Trey Burke', 85.95)
('Alexey Shved', 85.5)
('Dante Exum', 85.5)
('Darius Morris', 85.5)
('Derrick Rose', 85.5)
('Dwight Buycks', 85.5)
('Eric Bledsoe', 85.5)
('Goran Dragic', 85.5)
('Jameer Nelson', 85.5)
('JJ Redick', 85.5)
('Kirk Hinrich', 85.5)
('Lester Hudson', 85.5)
('Mario Chalmers', 85.5)
('Markel Brown', 85.5)
('Michael Carter-Williams', 85.5)
('Ramon Sessions', 85.5)
('Ray McCallum', 85.5)
('Ronnie Price', 85.5)
('Stephen Curry', 85.5)
('Brandon Knight', 85.05)
('Lorenzo Brown', 85.05)
('Zach LaVine', 85.05)
('George Hill', 84.6)
('Corey Brewer', 83.7)
('Jeff Teague', 83.7)
('Rajon Rondo', 83.7)
('Tyler Johnson', 83.7)
('Elfrid Payton', 83.25)
('Erick Green', 83.25)
('Isaiah Thomas', 83.25)
('J.J. Barea', 83.25)
('Jeremy Lamb', 83.25)
('Justin Holiday', 83.25)
('Monta Ellis', 83.25)
('Pablo Prigioni', 83.25)
('Patrick Beverley', 83.25)
('Patty Mills', 83.25)
('Seth Curry', 83.25)
('Tony Parker', 83.25)
('Will Bynum', 83.25)
('Will Cherry', 83.25)
('D.J. Augustin', 82.35)
('AJ Price', 81.45)
('Avery Bradley', 81.0)
('Jordan Farmar', 81.0)
('Larry Drew II', 81.0)

#### Problem 12: Top 5 scorer players of the top 5 scorer teams

In [124]:
cur.execute("SELECT Name,Team,Pts FROM Tablo WHERE Team IN(SELECT Team FROM Tablo GROUP BY Team ORDER BY SUM(Pts) DESC LIMIT 5) ORDER BY Pts DESC LIMIT 5")
rows= cur.fetchall()
for row in rows:
    print(row)

('Stephen Curry', 'GSW', 1900)
('Damian Lillard', 'POR', 1720)
('Klay Thompson', 'GSW', 1668)
('LaMarcus Aldridge', 'POR', 1661)
('Anthony Davis', 'NOH', 1656)

#### Problem 13: Players whose names are start with 'Al'

In [126]:
cur.execute("SELECT Name FROM Tablo WHERE Name LIKE 'Al%'")
rows= cur.fetchall()
for row in rows:
    print(row)

('Al Horford',)
('Al Jefferson',)
('Alan Anderson',)
('Alec Burks',)
('Alex Kirk',)
('Alex Len',)
('Alexey Shved',)
('Alexis Ajinca',)
('Al-Farouq Aminu',)
('Allen Crabbe',)
('Alonzo Gee',)

#### Problem 14: Finding the number of players by roles

In [127]:
cur.execute("SELECT Pos,COUNT(Name) FROM Tablo GROUP BY Pos")
rows= cur.fetchall()
for row in rows:
    print(row)

(None, 68)
('C', 72)
('PF', 90)
('PG', 84)
('SF', 76)
('SG', 100)

#### Problem 15: GSW team's average weight

In [129]:
cur.execute("SELECT AVG(weight) FROM Tablo WHERE team='GSW'")
rows= cur.fetchall()
for row in rows:
    print(row)

(100.41000000000001,)